

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@700&family=Quicksand:wght@400;500;700&display=swap');
/*  */
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:iceagefont;
    src: url("ice.otf");
  }
body{
    font-family: 'Montserrat', sans-serif;
}


.nav img{
    height: 25px;
}


.hero img{
    position: absolute;
    z-index: -999;
    right: 0;
    top: 0;
    width: 230vh;
    
    }

.hero h1{
margin-top: 18vh;
color: #ffff;
font-size: 100px;
font-family: iceagefont;
}
.hero p{
color: #ffff;
font-size: 15px;
line-height: 25px;
width: 90%;
}

.hero h2, h3{
    color: rgb(255, 255, 255);
font-size: 20px;
line-height: 30px;
}


/* List Movies */

.list{
    
   
    display: grid;
   grid-gap: 16px;
   overflow-x: scroll;
   padding: 16px;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-flow: column;
   white-space: nowrap;
}
.list h1{
   
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(4, 4, 4);
}

.list::-webkit-scrollbar {
    
  }

.list span{
    display: flex;

  }

.lis h1{
    font-size: 25px;
   
 
    padding: 20px;
}

/* card */
.card{
    
   
    display: grid;
   grid-gap: 16px;
   overflow-x: scroll;
   padding: 16px;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-flow: column;
   white-space: nowrap;
}

.detailMovie{
    margin-top: 30px;
   
}

.detailMovie h1{
   
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;

}
.detailMovie p{
    line-height: 30px;
    margin-top: 10px;
}


.detailMovie section{
    display: flex;
}



.cast {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
 
}

.cast img{
    
    margin: 5px;
    height: 200px;
    
}



.cast::-webkit-scrollbar {
    -webkit-overflow-scrolling: touch;
  
}

.card{
    flex: 0 0 auto;
}


.popular span{
display: flex;
}

/* responsive */
@media (max-width: 600px) {
  


        

    .detailMovie h1{
   
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px;
    
    }

    
}